{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta lang="utf-8">
  <title>index</title>
  <link rel="stylesheet" href="{% static 'css/naiyou.css' %}" />
  <meta name="viewport" content="width = device-width,initial-scale = 1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <a href="{% url 'game' %}" class="button">
    <i><small class ="glyphicon glyphicon-home" style="font-size:36px;color:lightblue;text-shadow:2px 2px 4px#000000;">
      <span>TOP</span></small></i></a>
  <p>
    <div align="center"><img src="{% static 'naiyou.png' %}" width="1300" height="380"/>
    </div>
  </p>
  <h1 style="text-align:center">
    モンスターハンターG
  </h1>
  <br/>
  <table border="1" align="center">
  <tr>
    <th span style="font-size:28px;">タイトル</th>
    <th span style="font-size:28px;">内容</th>
  </tr>
  {% for naiyou in naiyous %}
  <tr>
    <td span style="font-size:24px;">{{naiyou.title}}</td>
    <td span style="font-size:24px;">{{naiyou.content}}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'naiyoucreate' %}">
<button type = "button" class = "btn btn-default btn-sm" style="float:right;">
  <span class="glyphicon glyphicon-pencil" style="font-size:30px;color:bule;text-shadow:2px 2px 4px#000000;">作成
  </span></button></a>

</body>

</html>
