{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>投稿ページ</title>
	<link rel="stylesheet" href="{% static 'css/create.css' %}">
	<meta name="viewport" content="width = device-width,initial-scale = 1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<a href="{% url 'naiyou' %}"　class="button">
	<i><small class ="glyphicon glyphicon-home" style="font-size:36px;color:lightblue;text-shadow:2px 2px 4px#000000;">
			<span>TOP</span></small></i></a>
	<h1 style="text-align:left">内容の登録</h1>
	<form action="{% url 'naiyoucreate' %}" method="POST">
		{% csrf_token %}
		<input type="text" style="width:600px;height:30px;line-height:30px;" name="title" id="title" placeholder="タイトルを入力"  />
		<br  />
		<textarea style="width:600px;height:250px;line-height:25px;" name="content" id="detail" placeholder="内容を入力"></textarea>
		<br  />
		<button type="submit">
			登録する
		</button>
	</form>
</body>
</html>
